# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
dist/
build/

# Archivos de entorno y configuración sensible
.env

# Archivos temporales y caché
.DS_Store
Thumbs.db

# Configuraciones de editores/IDEs
.vscode/
.idea/

# (Si usas Python en algún módulo, también podrías incluir:)
__pycache__/
*.py[cod]
venv/
env/
